@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
:root
{
    --left-bg-color:rgba(87,84,236,0.7);
    --right-bg-color:rgba(43,43,43,0.8);
    --left-btn-color:rgba(87,83,236,1);
    --right-btn-color:rgb(239, 243, 8);

    --hover-width:75%;
    --other-width:25%;
    --speed: 1000ms;
}

* 
{
    box-sizing: border-box;
}

/*alinhar conteudos ao centro*/
body
{
    background-image: linear-gradient(
        to bottom,/*ESTE LINEAR GRADIENT VAI DIVIDIR O ECRA AO MEIO 50% HORIZONTAL, 1 COR EM CADA METADE*/
        #eafbff 0%,
        #eafbff 50%,
        #097205 50%,
        #165502 100%  );
   font-family: 'Permanent Marker',sans-serif;
   /* font-size: 1.5rem; */
    display: flex;          /*coloca tudo em linha*/
   /*flex-direction: column; /*coloca tudo em coluna*/
    align-items: center;    /*alinha horizontalmente*/
    justify-content: center;/*alinha tudo verticalmente com uso de height:100vh*/
   height: 100vh;
    /*overflow: hidden; /*BARRA DE SCROLL DOWN, HIDDEN ESCONDIDA*/
    margin: 0;
    overflow-x: hidden; /*REMOVER BARRA DE SCROLL HORIZONTAL*/
    padding: 20px;
}

nav {
    background-color: #fff;
    padding: 10px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    transition: width 0.6s linear;
}

nav.ativo{
    width: 380px;
}

nav ul{
    display: flex;/*COLOCA A LISTA EM LINHA HORIZONTAL*/
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 0;
    transition: width 0.6s linear;
}

nav.ativo ul{
    width: 100%;
}

nav ul li{
    transform: rotateY(0deg);
    opacity: 0;
    transition: transform 0.6s linear, opacity 0.6s linear;
}

nav.ativo ul li{
    opacity: 1;
    transform: rotateY(360deg);
}

nav ul a{
    position: relative;
    color: goldenrod;
    text-shadow:1px 1px 2px #171a13;
    text-decoration: none;
    margin: 0 10px;
}



.icone{
    background-color: #fff;
    border: 0;
    cursor: pointer;
    padding: 0px;
    position: relative;
    height: 30px;
    width:30px;
}
.icone:focus{
    outline: 0;
}

.icone .linha{
    background-color: darkgreen;
    height: 2px;
    width: 20px;
    position: absolute;
    top:10px;
    left: 5px;
    transition: transform 0.6s linear;
}

.icone .lin2{
    top:auto;
    bottom: 10px;
}

nav.ativo .icone .lin1{
    transform: rotate(-765deg) translateY(5.5px);
}
nav.ativo .icone .lin2{
    transform: rotate(765deg) translateY(-5.5px);
}

.copyR:hover{
    color: darkgreen;
}
/*estilos do footer */

#ident{
    font-size: 8pt;
    color: rgb(255, 196, 0);
    text-align: center;
    border-top: 1px dashed;
    font-family:'lato',sans-serif;
    font-weight: 700;
    position: absolute;
    bottom: 10px;
}






@media(max-width: 480px)        /*para ecras mais pequenos*/
{
    body{
       height: auto;
        overflow:visible;
    }
    footer{
        visibility: hidden;
    }



@media (max-width: 800px)
{
    body{
     
        overflow:visible;
    }


}





